{{ $ := index . "$" }}
{{ $isHome := .isHome }}
<div class="post-meta">
    {{/* Author first */}}
    {{ with $.Params.author }}
        <span class="post-meta-item author p-author">{{ . }}</span>
    {{ end }}
    {{/* Then date */}}
    {{ if $.Params.displayPublishedDate | default (and $.Site.Params.displayPublishedDate (not $.PublishDate.IsZero)) }}
        <time datetime="{{ $.PublishDate.Format "2006-01-02T15:04:05-07:00" }}" class="post-meta-item published dt-published">{{ $.PublishDate.Format $.Site.Params.postMetaDateFormat }}</time>
    {{ end }}
    {{/* Then reading time */}}
    {{ if $.Params.displayReadingTime | default $.Site.Params.displayReadingTime }}
        <span class="post-meta-item reading-time">{{ $.ReadingTime }}&nbsp;{{ i18n "minute" $.ReadingTime }}</span>
    {{ end }}
    {{ partial "custom/post-meta.html" $ }}
</div>
